SUBSYSTEM=="usb", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="ee03", MODE="0666" 
SUBSYSTEM=="tty", ATTRS{idVendor}=="1209", ATTRS{idProduct}=="ee02", SYMLINK+="Explore M3 VCOM%n"


